PostgresPipe-<dbname>:
  host: <host>
  user: <user>
  password: <password>

SnowflakePipe-<dbname>:
  account: <account>
  user: <user>
  authenticator: <authenticator>
  role: <role>
  warehouse: <warehouse>
  schema: <schema>

