PostgresPipe-<instance>:
   db_name: <str>
   host: <str>
   user: <str>
   password: <str>
   port: <int>
   ssl: <bool>

SnowflakePipe-<instance>:
   account: <str>
   user: <str>
   authenticator: <str>
   role: <str>
   warehouse: <str>
   schema: <str>
   db_name: <str>

OpenSearchQueryPipe-<instance>:
   default_index: <str>
   os_auth_use_aws: <bool>
   os_scheme: <str>
   os_verify_certs: <bool>
   os_ca_certs: <str>
   os_region: <str>
   os_service: <str>
   os_username: <str>
   os_password: <str>
   os_timeout: <float>
   os_ssl_assert_hostname: <bool>
   os_ssl_show_warn: <bool>
   os_host: <str>
   os_port: <int>

OpenSearchIndexSink-<instance>:
   _alias: OpenSearchQueryPipe-<instance>

EmbedSink-<instance>:
   model_name: <str>
   batch_size: <int>

